// @import '../css/normalize.css';

$white: #fff;
$text: #333333;
$decor: #aa9b77;
$second_bg: #f5f6f7;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display: block;
}

body,html{
    font-family: Roboto, sans-serif;
    margin: 0 auto;
    min-width: 320px;
    height: 100%;
    color: $text;
}

a{
    text-decoration: none;
    color: $white;
}
i{
    font-family: fontawesome;
    font-style: normal;
}


.wrapper{
    margin: 0 auto;
    width: 100%;
    min-width: 320px;
    max-width: 1280px;

}

.head{
    width: 100%;
    height: 100%;
    height: 100vh;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;
    padding-top: 3%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
     
    &__text{
        width: 100%;
    }
    &__title{
        text-align: center;
        color: $white;
        font-family: Roboto;
        font-size: 4.2em;
        font-weight: 500;
    }
    &__subtitle{
        margin: 5% auto;
        text-align: center;
        width: 35%;
        max-width: 500px;
        color: $white;
        font-family: Roboto;
        font-size: 1.3em;
        font-weight: 400;
    }
    &__arrow{
        color: $white;
        text-align: center;
        width: 100%;
        margin-bottom: 5%;
    }
    &__chevron-down{
        display: block;
        cursor: pointer;
        
    }
}

.headerNavigation{
    width: 100%;
    margin: 0 4%  0px 4%;
    color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__item{
    display: inline;
    padding-left: 20%;

    }
    &__links{
        width: 35%;
    }
}




.products{
    height: auto;
    padding-bottom: 65px;
    &__view{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

    .filter{
        color: $text;
        background-color: $second_bg;
        height: 140px;
        text-transform: uppercase;
        padding-left:5%; 
        padding-right:5%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        &__item{
            display: inline-block;
            margin-right: 35px;
        }
 
        &__checkbox{
            display: none;
        }
        &__label{
            cursor: pointer;
            position: relative;
            padding-left: 25px;
            line-height: 30px;
            margin-right: 15px;
            font-size: 1.1em;
        }
        &__label:before {
            content: "";
            display: inline-block;
            width: 18px;
            height: 18px;
            margin-right: 10px;
            position: absolute;
            left: -10px;
            bottom: 0px;
            border: 2px solid #cccccc;
            border-radius: 3px;
        }
        &__checkbox:checked + &__label:before{
            content: "\f00c";
            font-family: fontawesome;
            font-size: 0.8em;
            color: $decor;
            border: 2px solid $decor;
            text-align: center;
            line-height: 18px;

        }
        &__button{
            text-transform: uppercase;
            font-size: 0.8em;
            background: $decor;
            color: $white;
            border-radius: 3px;
            padding: 10px;
            height: 50px;
            border: none;
            cursor: pointer;
        }
        
    }

.product-item{
    padding: 25px;
    margin-top: 40px;
    margin-right: 40px;
    text-transform: uppercase;
    height: 375px;
    width: 320px;
    background: $second_bg;
    border: 5px solid $second_bg;
    display: flex;
    flex-wrap:wrap;
    align-content: space-between;
    
    &__size{
        position: relative;

    }
    &__size:after{
        content: '\f078';
        font-family: fontawesome;
        background: $second_bg;
        position: absolute;
        font-size: 0.8em;
        top: 3px;
        right: 2px; 
        pointer-events: none;
    }
    &__selector{
        border: none;
        background: none;
    }
    &__selector-item{
        background: $second_bg;
    }
    &__img{
        width: 100%;
        text-align: center;
    }
    &__details{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__title{
        color: $decor;
        text-transform: uppercase;
    }
}
.product-item:hover{
    border-radius: 5px;
    border: 5px solid $decor;
}
.footer{
    &__social{
        line-height: 65px;
        background-color: #535253;
        color: $white;
        padding-left:5%; 
        padding-right:5%;
        display: flex;
        align-items: center;
    }
    &__twitter{
        color: #424242;
        margin-right: 5%;
    }
    &__details{
        padding: 5%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        color: $white;
        background-color: #424242;
    }
    &__description{
        width: 30%;
    }
    &__heading{
        margin-bottom: 25px;
        font-weight: 400;
        text-transform: uppercase;
    }
    &__credits{
        width: 30%;
    }
    &__copyrights{
        text-align: right;
        font-size: 1.1em;
    }
}

.footer-nav{
        text-align: right;
        font-size: 0.9em;
        margin-bottom: 10px;
    &__item{
        
        display: inline;
        list-style: none;
        text-transform: uppercase;
        padding: 0px 5px;
        border-left: 2px solid $decor;
    }
    &__item:hover{
        color: $decor;
    }
    &__item:first-child{
        border-left: none;
        padding-left: 0px;
        padding-right: 5px;
    }
    &__item:last-child{
        padding-right: 0px;
    }
}